
.video {
  /*&__link {
    color:#FFF;
    font-size: 2rem;
    position: absolute;
    top:5rem;
    left:2rem;

    display:none;
    &--active {
      display: inline-block;
    }
  }
  &__icon {
    transform: scale(1.5);
    margin-right: 1rem;

  }*/
  iframe {
    pointer-events:'auto';
    width: 100vw;
    height: 100vh;
  }
}
